h4{
    color:white;
    font-size: 2.0em;
    margin-bottom: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

h2{
    color:white;
    font-size: 1.55em;
    margin-bottom: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

:root {
    --primary-color: #000000;
    --secondary-color: #d67627;
    --accent-color: #000000;
    --text-color: #000000;
    --hover-transition: all 0.3s ease;
    --overlay-color: rgba(0, 28, 64, 0.85);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    background-image: linear-gradient(var(--overlay-color), var(--overlay-color)), 
                      url('https://staticdelivery.nexusmods.com/images/2600/83813648-1695648361.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    line-height: 1.6;
}

.topnav {
    display: flex;
    justify-content: space-between; 
    align-items: center;        
    padding: 10px 20px;
    background-color: #333;
    color: white;
    background-color: #d67627;

    .left, .right {
        font-size: 18px;
    }
}
.topnav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 18px;
}

.topnav a:hover {
    text-decoration: underline;
}

.logo {
    display: flex;
    justify-content: center;  
    align-items: center;      
    margin-top: 65px;
    margin-bottom: 45px;
    height: 400px;
    display: flex;
    justify-content: center; 
    align-items: center;           
}

.sekce {
    background-color: rgba(255, 255, 255, 0.98);
    padding: 40px;
    border-radius: 15px;
    margin: 30px 0;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}


